.bookmarks-time {
    border: 0;
    border-radius: 8px;
    margin-top: 230px;
    margin-left: 1000px;
    position: fixed;
    top: 0;
    background-color: rgba(17, 17, 17, 0.05);
    width: 300px;
}

.bookmarks {
    padding: 5px 20px;
    font-weight: 700;
}

.bookmarked-titles {
    margin: 20px 20px;
    padding: 10px;
    background-color: white;
    font-weight: 700;
}

.time {
    border: 1px solid;
    border-color: rgb(96, 71, 236);
    color: rgb(96, 71, 236);
    border-radius: 8px;
    padding: 5px 25px;
    font-weight: 700;
    background-color: rgba(17, 17, 17, 0.05);
    margin-top: 50px;
    margin-left: 1000px;
    position: fixed;
    top: 100px;
    width: 250px;
}

@media screen and (width < 700px) {
    .bookmarks-time {
        border: 0;
        border-radius: 8px;
        margin-top: 0;
        margin-left: 30px;
        position: relative;
        /* top: 0; */
        background-color: rgba(17, 17, 17, 0.05);
        width: 300px;
    }

    .bookmarks {
        padding: 5px 20px;
        font-weight: 700;
    }

    .bookmarked-titles {
        margin: 20px 20px;
        padding: 10px;
        background-color: white;
        font-weight: 700;
    }

    .time {
        border: 1px solid;
        border-color: rgb(96, 71, 236);
        color: rgb(96, 71, 236);
        border-radius: 8px;
        padding: 5px 25px;
        font-weight: 700;
        background-color: rgba(17, 17, 17, 0.05);
        margin-top: 0;
        margin-left: 30px;
        position: relative;
        top: 0px;
        width: 250px;
    }
}